
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function getRole() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
    }

    function isDoctor() {
      return isSignedIn() && getRole() == 'Doctor';
    }

    function isNurse() {
      return isSignedIn() && getRole() == 'Nurse';
    }
    
    function isReceptionist() {
        return isSignedIn() && getRole() == 'Receptionist';
    }

    function isAdmin() {
      return isSignedIn() && getRole() == 'Admin';
    }
    
    // Temporarily allow all reads and writes for development
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
