@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 95 43% 95%;
    --foreground: 135 15% 20%;
    --card: 95 43% 88%;
    --card-foreground: 135 15% 20%;
    --popover: 95 43% 88%;
    --popover-foreground: 135 15% 20%;
    --primary: 135 27% 34%;
    --primary-foreground: 95 40% 98%;
    --secondary: 95 30% 80%;
    --secondary-foreground: 135 27% 34%;
    --muted: 95 30% 80%;
    --muted-foreground: 135 15% 40%;
    --accent: 181 21% 57%;
    --accent-foreground: 135 15% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 95 20% 75%;
    --input: 95 20% 80%;
    --ring: 181 21% 57%;
    --chart-1: 135 27% 34%;
    --chart-2: 181 21% 57%;
    --chart-3: 135 20% 50%;
    --chart-4: 181 15% 70%;
    --chart-5: 135 30% 20%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 135 10% 8%;
    --foreground: 95 20% 90%;
    --card: 135 10% 12%;
    --card-foreground: 95 20% 90%;
    --popover: 135 10% 8%;
    --popover-foreground: 95 20% 90%;
    --primary: 135 27% 34%;
    --primary-foreground: 95 40% 98%;
    --secondary: 135 15% 20%;
    --secondary-foreground: 95 20% 90%;
    --muted: 135 15% 20%;
    --muted-foreground: 95 20% 60%;
    --accent: 181 21% 57%;
    --accent-foreground: 135 15% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 135 10% 20%;
    --input: 135 10% 20%;
    --ring: 181 21% 57%;
    --chart-1: 135 27% 34%;
    --chart-2: 181 21% 57%;
    --chart-3: 135 20% 50%;
    --chart-4: 181 15% 70%;
    --chart-5: 135 30% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
