@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 95 43% 95%;
    --foreground: 135 15% 20%;
    --card: 95 43% 99%;
    --card-foreground: 135 15% 20%;
    --popover: 95 43% 99%;
    --popover-foreground: 135 15% 20%;
    --primary: 135 27% 34%;
    --primary-foreground: 95 40% 98%;
    --secondary: 95 30% 88%;
    --secondary-foreground: 135 27% 34%;
    --muted: 95 30% 92%;
    --muted-foreground: 135 15% 40%;
    --accent: 135 27% 34%;
    --accent-foreground: 95 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 95 20% 85%;
    --input: 95 20% 97%;
    --ring: 135 27% 34%;
    --chart-1: 135 27% 34%;
    --chart-2: 181 21% 57%;
    --chart-3: 135 20% 50%;
    --chart-4: 181 15% 70%;
    --chart-5: 135 30% 20%;
    --radius: 0.5rem;
    --sidebar-background: 105 40% 96%;
    --sidebar-foreground: 135 15% 20%;
    --sidebar-primary: 135 27% 34%;
    --sidebar-primary-foreground: 95 40% 98%;
    --sidebar-accent: 105 40% 92%;
    --sidebar-accent-foreground: 135 15% 20%;
    --sidebar-border: 95 20% 85%;
    --sidebar-ring: 135 27% 34%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 60 9.1% 97.8%;
    --card: 240 3.7% 15.9%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 240 5.9% 10%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 135 27% 34%;
    --primary-foreground: 95 40% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 135 27% 34%;
    --chart-1: 135 27% 34%;
    --chart-2: 181 21% 57%;
    --chart-3: 135 20% 50%;
    --chart-4: 181 15% 70%;
    --chart-5: 135 30% 20%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 60 9.1% 97.8%;
    --sidebar-primary: 135 27% 34%;
    --sidebar-primary-foreground: 95 40% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 60 9.1% 97.8%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 135 27% 34%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
